body{

    margin: 0;
    font-family: Arial,  sans-serif;
    scroll-behavior: smooth;
}

.navbar{

    display: flex;
    justify-content: space-around;
    overflow: hidden;
    padding: 20px;
    background-color: darkblue;
    position: sticky;
    top:0;
}

.navbar a {
color: white;
text-decoration: none;
padding: 10px 20px;
font-weight: bolder;
font-size: x-large;
}
.logo{

    margin-left: 0px;
    font-size: bolder;
    color: white;
    font-size: larger;
    border-radius: 10px;

    background-color: darkblue;
    
}
/*

@keyframes rotate {  
    0% {  
      transform: rotate(0deg);  
    }  
    100% {  
      transform: rotate(360deg);  
    }  
  }  
  
  .logo {  
    position: relative;  
    animation: rotate 10s linear infinite;  
  }  
  
  .logo:before {  
    content: "";  
    position: absolute;  
    top: -10px;  
    left: -10px;  
    right: -10px;  
    bottom: -10px;  
    border: 2px solid #000;  
    border-radius: 50%;  
    animation: rotate 10s linear infinite reverse;  
  }
    */
.navbar a:hover{
    background-color: hsl(0, 81%, 43%);
    border-radius: 10px;
}
/* making the hambuger menu*/

